/* Background */
    .container {
        position: relative;
        justify-content: center;
        margin: 0 auto;
        
        width: 30vw; /* 95% for extension */
        height: 40vw;
        margin-top: 5rem; /* REMOVE */

        overflow: clip;
        border-radius: 15px;
        box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.2); 
        background-color: #212154; 

        border: 2.5px solid var(--fifaRareGold);
    }


    .widgetContent{
        /* ADD BACK FOR EXTENSION height: 400px !important; */
        /* ADD BACK FOR EXTENSION width: 275px !important; */
    }

    .topRow{
        margin: 10px auto;
    }


/* Blob Background */
    .blob-outer-container {
        position: absolute;
        top: -20%;
        left: -15%;
        width: 200%;
        height: 200%;
        z-index: -1; /* Stay behind */
        filter: blur(100px);
    }

    .blob-inner-container {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        transform: scale(0.7);
    }

    .blob {
        position: absolute;
        width: 40%;
        height: 40%;
        background: radial-gradient(var(--pastelGreen), 
                                    var(--pastelGreen) 45%, 
                                    var(--pastelGreen) 100%);        
        animation: spinBlob 8s linear infinite;
    }
    
/* Content Styles */
    /* Product Name */
        .cardTitle {
            margin: 0 auto;
            margin-top: 20px;
            text-align: center;

            font-size: 40px;  /* 8vw for extension */
            
            color: var(--fifaRareGold);
            z-index: 1; /* Above Blob */

        }

        /* Horizontal Line */
        hr {
            border: none;
            border-top: 1.5px solid var(--fifaRareGold); /* Customize thickness and color */
            margin: 10px 0; /* Adjust spacing */
        }

    /* Authenticity Grade */
        .letterGradeWrapper{
            font-size: 90px;
        }

        #letterGrade {
            margin-top: 20%;
            margin-bottom: 20%;

            text-align: center;
            font-family: "Courgette", cursive;
            font-weight: 300;
            color: var(--fifaRareGold);
            -webkit-text-stroke: 1.5px black; /* Black outline */
            text-stroke: 0.2px black;
            z-index: 1; /* Above blob */
        }

        /* Percentage Grade */
          /* Top Grade */
            #percentageGrade{
                position: absolute;
                margin: -5px 0 0 15px;
                font-size: 30px;
                text-align: center;
                font-family: "Manrope", cursive;
                color: var(--fifaRareGold);
                -webkit-text-stroke: 0.5px black; /* Black outline */
                text-stroke: 0.2px black;
            }
          /* Bottom Grade */
            .bottomRow #percentageGrade{
                bottom: 15px;
                right: 15px;
                transform: rotate(180deg);
            }


        
