/* Background */
    .container {
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 10vw auto;
        width: 30vw;
        height: 35vw;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.2); 
        background-color: #212154; 

        border: 2.5px solid var(--fifaRareGold);
    }

    .first_row{
        display: flex;
        gap: 8rem;
    }


/* Blob Background */
    .blob-outer-container {
        position: absolute;
        top: -20%;
        left: -15%;
        width: 200%;
        height: 200%;
        z-index: -1; /* Stay behind */
        filter: blur(100px);
    }

    .blob-inner-container {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        transform: scale(0.7);
    }

    .blob {
        position: absolute;
        width: 40%;
        height: 40%;
        background: radial-gradient(var(--pastelGreen), 
                                    var(--pastelGreen) 45%, 
                                    var(--pastelGreen) 100%);        
        animation: spinBlob 8s linear infinite;
    }
    
/* Content Styles */
    /* Product Name */
        h1 {
            text-align: left;
            padding-left: 20px;
            padding-top: 10px;
            font-size: 32px;
            text-decoration: underline;
            color: var(--fifaRareGold);
            z-index: 1; /* Above Blob */

        }

    /* Authenticity Grade */
        #letterGrade {
            margin: 0;
            font-size: 60px;
            line-height: 1.65;
            text-align: center;
            font-family: "Courgette", cursive;
            font-weight: 300;
            color: var(--fifaRareGold);
            -webkit-text-stroke: 1.5px black; /* Black outline */
            text-stroke: 0.2px black;
            z-index: 1; /* Above blob */
        }

        #percentageGrade{
            margin-top: 30px;
            font-size: 120px;
            line-height: 1.65;
            text-align: center;
            font-family: "Manrope", cursive;
            color: var(--fifaRareGold);
            -webkit-text-stroke: 2px black; /* Black outline */
            text-stroke: 0.2px black;
        }
